---
const { title, type } = Astro.props;
---

<form id={type} class="module text-white pointer-events-none bg-slate-400 opacity-0 fixed top-1/2 left-1/2 transition-all -translate-x-1/2 -translate-y-1/2 flex flex-col justify-between items-start w-56 rounded-md p-5 h-72 text-left">
    <h1 class="text-lg font-bold">{title}</h1>

    <svg  data-target=`${type}` xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="modal-close absolute right-5 top-6 w-5 h-5 cursor-pointer">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
      
    <input class="w-full p-2 rounded-sm" placeholder="Name" type="text" name="" id=`${type}-firebase-name`>
    <input class="w-full p-2 rounded-sm" placeholder="E-mail" type="email" name="" id=`${type}-firebase-email`>
    <input class="w-full p-2 rounded-sm" placeholder="Password" type="password" name="" id=`${type}-firebase-password`>
    <button type="submit" class="py-2 px-4 border-2 border-s-stale-300 rounded-md">Button</button>
</form>

<style is:inline >
    .show {
        opacity: 1;
        pointer-events: all;
    }

    input {color: slategrey;
        outline: none;
    }

    .modal {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

</style>

<script>

    document.querySelectorAll(".firebase-btn").forEach( (btn) => {
        btn.addEventListener("click", () => {
            document.getElementById(btn.getAttribute("data-target")).classList.add("show")
        })
    })

    document.querySelectorAll(".modal-close").forEach( (btn) => {
        btn.addEventListener("click", () => {
            document.getElementById(btn.getAttribute("data-target")).classList.remove("show")
        })
    })

</script>